[Desktop Entry]
Name=Azureus
Comment=BitTorrent client
Comment[pl]=Klient BitTorrenta
Exec=azureus
Icon=Azureus.png
Terminal=false
Categories=Java;Network;P2P;
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
