[Desktop Entry]
BinaryPattern=xmms
Comment=X Multimedia System
GenericName=Multimedia Player
GenericName[af]=Multimedia Speler
GenericName[bg]=Плеар за мултимедийни файлове
GenericName[bs]=Preglednik multimedijalnih datoteka
GenericName[ca]=Reproductor multimèdia
GenericName[cs]=Přehrávač multimédií
GenericName[da]=Multimedieafspiller
GenericName[de]=Multimedia-Wiedergabe
GenericName[el]=Παίξιμο αρχείων Πολυμέσων
GenericName[eo]=Ludilo por sonoroj kaj filmoj
GenericName[es]=Reproductor multimedia
GenericName[et]=Multimeedia mängija
GenericName[eu]=Multimedia Jolea
GenericName[fa]=پخش کننده‌ی چندرسانه‌ای
GenericName[fi]=Multimediasoittaja
GenericName[fr]=Lecteur multimédia
GenericName[he]=נגן מולטימדיה
GenericName[hr]=Multimedijski player
GenericName[hu]=médialejátszó
GenericName[is]=Margmiðlunarspilari
GenericName[it]=Lettore multimediale
GenericName[ja]=メディアプレーヤー
GenericName[lo]=ເຄື່ອງມືຫລິ້ນແຟ້ມສີ
GenericName[lt]=Multimedijos grotuvas
GenericName[lv]=Multimēdiju Atskaņotājs
GenericName[mk]=Мултимедија плеер
GenericName[mn]=Мултимедиа-Тоглуулагч
GenericName[mt]=Plejer Multimedia
GenericName[nb]=Multimediaspiller
GenericName[nl]=multimediaspeler
GenericName[nn]=Multimediespelar
GenericName[nso]=Sebapadi sa Media wa Bontshi
GenericName[pl]=Odtwarzacz multimedialny
GenericName[pt]=Reprodutor Multimédia
GenericName[pt_BR]=Reprodutor multimídia KDE
GenericName[ro]=Program de redare multimedia
GenericName[ru]=Мультимедийный проигрыватель
GenericName[se]=Multimediačuojaheaddji
GenericName[sk]=Multimediálny prehrávač
GenericName[sl]=Večpredstavnostni predvajalnik
GenericName[ss]=Sidlali setindzaba letinyenti
GenericName[sv]=Multimediaspelare
GenericName[ta]=Àøæ¼¸ ­Âì¸¢
GenericName[th]=เครื่องมือเล่นแฟ้มสื่อ
GenericName[tr]=Çoklu Ortam Yürütücüsü
GenericName[uk]=Програвач файлів мультимедія
GenericName[ven]=Tshitambi tsha Zwimvumvusi
GenericName[vi]=Trình chơi nhạc đa phương tiện 
GenericName[xh]=Umdlali we Multimedia
GenericName[zh_CN]=多媒体播放器
GenericName[zh_TW]=多媒體播放程式
GenericName[zu]=Umdlali wonozindaba abaningi
Exec=xmms %F
Icon=xmms
MimeType=audio/x-mp3;audio/x-mod;audio/x-wav;audio/x-mpegurl;audio/mpegurl;audio/x-scpls;application/x-ogg
Name=XMMS
Terminal=0
Type=Application
Categories=GNOME;GTK;AudioVideo;Player
MapNotify=false
